/* Footer */
footer{
    background-color: var(--carmesi);
    text-align: center;
    font-family: var(--titulos);
    padding: 5px;
}
.contenedor__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.redes{
    cursor: pointer;
    display: flex;
    gap: 25px;
}
